[Unit]
Description=Gunicorn instance to serve bjj application
After=network.target

[Service]
User=root
Group=root
Restart=always
RestartSec=10
WorkingDirectory=/opt/bjj/api
ExecStart=/usr/local/bin/gunicorn --workers 3  --timeout 3600  --access-logfile - --bind 0.0.0.0:4444 wsgi

[Install]
WantedBy=multi-user.target